name: portable-release-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Create Release
    runs-on: windows-latest
    env:
      targetZip: microwind-portable-${{ github.ref_name }}.zip
      version: 3.8
    steps:
    - uses: actions/checkout@v5

    - shell: cmd
      run: |
        .\1522859732.exe /PASSIVE /SILENT /NORESTART /NOAUTORUN /D="%cd%\installation" /CURRENTUSER /SHOWLOG /BYPASSCHECKS

    - shell: cmd
      run: xcopy /H /Y /C "microwind.exe.Portable.cmd" "installation"
        
    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        directory: "installation"
        filename: "${{ env.targetZip }}"
        
    - name: Release prebuilt
      uses: ncipollo/release-action@v1
      with:
        artifacts: "installation/${{ env.targetZip }}"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
